@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);

  --font-sans: "Inter", sans-serif;

  --animate-fade-in: fadeIn 0.5s ease-out forwards;
  --animate-scroll: scroll 20s linear infinite;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

:root {
  /* Dark Mode (Default) */
  --background: #000000;
  --surface: #121212;
  --primary: #FFFFFF;
  --secondary: #A1A1AA;
  --border: #27272A;
}

:root.light {
  /* Light Mode */
  --background: #FFFFFF;
  --surface: #F4F4F5;
  /* Zinc 100 */
  --primary: #18181B;
  /* Zinc 900 */
  --secondary: #52525B;
  /* Zinc 600 */
  --border: #E4E4E7;
  /* Zinc 200 */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}